
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 16px;
    padding: 20px;
}


/*bootstrap*/
#carouselExampleIndicators{
    max-width: 300px;
    height: auto;
}
.carousel slide {
    max-width: 300px;
}
.carousel-inner{
    max-width: 300px;
}
.carousel-item img{
    width: 300px;
}

/* con grid y flexbox */


.galeria{
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    padding: 16px;
}
.imgprincipal img {
    width: 350px;
    object-fit: cover;
    display:block;
}
.listadeimg img{
    width: 100%;
    object-fit: cover;
    width: 350px;
    height: 350px;
    margin-right: 10px;
    display: block;

}
.listadeimg{
    display: flex;
    overflow-y: auto;
    margin-top: 10px;
}




            /* ejemplo de la clase*/


.contenedor{
    background-color: rgb(151, 92, 2);
    display: flex;
    flex-wrap:nowrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 23px;
    flex-direction: column;
}


/* grid*/

.contenedorcolumnas{
    display: grid;
    width: 100%;
    grid-template-columns:1 ;
    grid-auto-rows: 150px;
    
}
.contenedorcolumnas img{
    width: 150px;
}

@media only screen and (max-width: 320px) {}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .contenedorcolumnas{
    grid-template-columns: repeat(2, 1fr) ;

    }
    
}
@media only screen and (min-width: 769px) {
    .contenedorcolumnas{
    grid-template-columns: repeat(3, 1fr) ;
    }



    .contenedor {
        background-color: aquamarine;
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
        padding-left: 23px;
        flex-direction: row;
    }
    .caja1, .caja2{
        border: 2px solid red;
        padding: 16px;
        margin: 16px;
    }
.galeria{
    grid-template-columns: 350px 1fr;

}
        
}


